<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Bitter:700|Libre+Baskerville:700|Copse|Goudy+Bookletter+1911|Alegreya+SC:400,700italic,700,900|Marcellus+SC' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--   // <script src="js/jquery.smint.js" type="text/javascript"></script>
    // <script src="js/doc_ready.js" type="text/javascript"></script> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Holden_Mills</title>
    <title>Mills</title>

  </head>

  <body>
    <ul class="menu">
      <li><a href="#top">Top</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#aboutMe">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <section class="module parallax parallax-1">
      <div class="top">
        <div class="container">
          <h1>Holden Mills</h1>
        </div>
      </div>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Copywriter</h2>
      </div>
    </section>

    <section class="module parallax parallax-2">
      <div class="container">
        <h1>Your Work is your Legacy</h1>
      </div>
    </section>

    <section class="module content">
      <div class="work">
        <div class="container">
          <h2>Work, Work, Work</h2>
            <div id="projects">
              <div class="img">
                <a target="_blank" href="http://church-ill.github.io/project3-front/">
                <img src="images/nozama.png" alt="Nozama.com" width="400" height="300">
                </a>
                <div class="desc">Ecomerce Site</div>
              </div>
              <div class="img" id="nps">
                <a target="_blank" href="img_forest.jpg">
                <img src="img_forest.jpg" alt="Forest" width="400" height="300">
                </a>
                <div class="desc">Project 2</div>
              </div>
              <div class="img" id="ttt">
                <a target="_blank" href="http://holdenmills.github.io/ticTacToe/">
                <img src="images/tic-tac-toe.png" alt="Tic-Tac-Toe" width="400" height="300">
                </a>
                <div class="desc">Tic-Tac-Toe Game</div>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="module parallax parallax-3">
      <div class="container">
        <h1>About Me</h1>
      </div>
    </section>

    <section class="module content">
      <div class="aboutMe"
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
      </div>
    </section>

    <section class="module parallax parallax-4">
      <div class="container">
        <h1>Contact Info</h1>
      </div>
    </section>

    <section class="module content">
      <div class="contact"
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
      </div>
    </section>

  </body>
</html>


